<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="postForm" (submit)="onSavePost()"  *ngIf="!isLoading">
    <h2>{{componentTitle}}</h2>
      <mat-form-field>
        <input matInput type="text" formControlName="title"
          placeholder="Enter Post Title"  />
        <mat-error *ngIf="postForm.get('title').invalid">Please enter a post title</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput rows="4" formControlName="content"
          placeholder="Enter Post Content"  ></textarea>
        <mat-error *ngIf="postForm.get('content').invalid">Please enter a post content</mat-error>
      </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
      <!-- <mat-error *ngIf="postForm.get('image').invalid">Please select a valid image.</mat-error> -->
    </div>
    <div class="image-preview" *ngIf="imageUrl !== '' && imageUrl && postForm.get('image').valid">
      <img [src]="imageUrl" [alt]="postForm.value.title" />
    </div>
    <div>
      <button mat-raised-button type="submit" color="accent">Save</button>
    </div>
  </form>
</mat-card>
