<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h2>User Login</h2>
  <form #loginForm="ngForm" (submit)="onLogin(loginForm)"  *ngIf="!isLoading">

      <mat-form-field>
        <input matInput type="text" name="email" ngModel #email="ngModel"
          placeholder="Email" required email />
        <mat-error *ngIf="email.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" name="password" ngModel #password="ngModel"
          placeholder="Password" required  />
        <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
      </mat-form-field>
    <div *ngIf="!isLoading">
      <button mat-raised-button type="submit" color="accent">Login</button>
      <a mat-button [routerLink]="['/signup']">Sign Up</a>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card>
