<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h2>Create Account</h2>
  <form #form="ngForm" (submit)="onSignUp(form)"  *ngIf="!isLoading">

      <mat-form-field>
        <input matInput type="text" name="email" ngModel #email="ngModel"
          placeholder="Email" required email />
        <mat-error *ngIf="email.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" name="password" ngModel #password="ngModel"
          placeholder="Password" required  />
        <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="firstName" ngModel #firstName="ngModel"
          placeholder="First Name" required  />
        <mat-error *ngIf="firstName.invalid">Please enter your first name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="lastName" ngModel #lastName="ngModel"
          placeholder="Last Name" required  />
        <mat-error *ngIf="lastName.invalid">Please enter your last name</mat-error>
      </mat-form-field>
    <div *ngIf="!isLoading">
      <button mat-raised-button type="submit" color="accent">Sign Up</button>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card>
